<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Funding Theory</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'funding_theory/css/normalize.min.css' %}">
  <link rel="stylesheet" href="{% static 'funding_theory/css/bulma.min.css' %}">
  <link rel="stylesheet" href="{% static 'funding_theory/css/icons.css' %}">
  <link rel="stylesheet" href="{% static 'funding_theory/css/styles.css' %}">

    <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="{% static 'funding_theory/js/tinymce/tinymce.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'funding_theory/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'funding_theory/js/lodash.js' %}"></script>
  <script type="text/javascript" src="{% static 'funding_theory/js/csvjson.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'funding_theory/js/d3.js' %}"></script>
  <script type="text/javascript" src="{% static 'funding_theory/js/d3-tip.js' %}"></script>
  <script type="text/javascript" src="{% static 'funding_theory/js/d3-append-html.js' %}"></script>
  <script src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js"></script>
  <script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>



  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static 'funding_theory/assets/image/favicon.png' %}">

</head>

<body>

<nav class="navbar is-light">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="{% static 'funding_theory/assets/image/logo.png' %}">
    </a>

    <a role="button" class="navbar-burger burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">

<!--       <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Apps
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Cactus Plot
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Coming Soon
          </a>
        </div>

      </div> -->

    </div>
  </div>

</nav>
  

{% block content %}
  <p>This is from base.html</p>
{% endblock %}

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>