{% extends 'funding_theory/base.html' %}

{% block content %}

<section class="section">
	<div class="container">
		<h1 class="title"> Welcome to Funding Theory</h1>
		<h1 class="subtitle">Enjoy the service provided</h1>
	</div>
</section>

<section class="section">
	<div class="container">

		<div class="tile is-ancestor">

			<div class="tile is-parent">
				<a class="tile is-child box notification is-primary" href="csv2json">
					<p class="subtitle"> 
						CSV to JSON 
					</p>
				</a>
			</div>

			<div class="tile is-parent ">
				<a class="tile is-child box notification is-link" href="cactus_plot">
					<p class="subtitle"> 
						Cactus Plot
					</p>
				</a>
			</div>

			<div class="tile is-vertical">
				<div class="tile is-parent ">
					<a class="tile is-child box notification is-success" href="pdf">
						<p class="subtitle"> 
							Make PDF 
						</p>
					</a>
				</div>

				<div class="tile is-parent ">
					<a class="tile is-child box notification is-danger" href="#">
						<p class="subtitle"> 
							Coming Soon
						</p>
					</a>
				</div>

			</div>

		</div>

	</div>
</section>

{% endblock %}